# Various IDEs and Editors
.vscode/
.idea/
**/*~

# Mac OSX temporary files
.DS_Store
**/.DS_Store

# rust
target

# dfx temporary files
.dfx/
ledger.did
ledger.wasm
vault_manager.wasm
vault_repo.wasm
ledger.wasm.gz

# frontend code
node_modules/
dist/


# Old dids