# All Pull Requests
* @olsemeno requires approval

# Pipelines Pull Requests
.github/workflows/* @DaniilIdentity require approval

# Comments explaining ownership
# This section is owned by the Internet Identity Labs, Inc. team
